<html>
   <h1>Caronas Disponíveis</h1>
  <table>
 <tr>
    <td><label>Partida: Rua:</label></td>
    <td><input name="partidaruabox" [(ngModel)]="atributosPesquisa.partidaRua"></td>
    <td><label>Número:</label></td>
    <td><input name="partidanumbox" [(ngModel)]="atributosPesquisa.partidaNum"></td>
 </tr>
 <tr>
    <td><label>Destino: Rua:</label></td>
    <td><input name="destinoruabox" [(ngModel)]="atributosPesquisa.destinoRua"></td>
    <td><label>Número:</label></td>
    <td><input name="destinonumbox" [(ngModel)]="atributosPesquisa.destinoNum"></td>
 </tr>
 <tr>
   <td><label>Valor máximo até: </label></td>
   <td><input name="valormaxbox" [(ngModel)]="atributosPesquisa.valorMax"></td>
 </tr>
 <tr>
   <td><label>Data: </label></td>
   <td><input name="databox" [(ngModel)]="atributosPesquisa.data"></td>
 </tr>
 </table>
 <!--<td><button (click)="filtros">Filtros</button></td>-->
 <td><button (click)="pesquisarCarona(atributosPesquisa)">Pesquisar</button></td>
  <table>
 <tr *ngIf="pesquisa == true">
    <th>Nome</th>
    <th>Custo</th>
    <th>Chegada ao destino</th>
 </tr>
 <a name="caronasdescr" routerLink="/caronasDescricao"></a>
 <tr name="caronaslist" *ngFor="let c of caronasdisp">
    <td name="idlist">{{c.id}}</td>
    <td name="custolist">{{c.price}}</td>
    <td name="chegadadest">{{c.departureTime}}</td>
 </tr>
 </table>

  </html>